<form class="filters-form">
  <app-input-text
    [label]="'Nazwa potrawy'"
    [model]="filterName"
    (modelChange)="onFilterNameChange($event)"
    name="filterName"
    placeholder="Szukaj po nazwie"
  ></app-input-text>

  <mat-slide-toggle
    class="single-toggle"
    [ngModel]="filterLiked"
    (ngModelChange)="onFilterLikedChange($event)"
    name="filterLiked"
  >
    Tylko polubione
  </mat-slide-toggle>

  <div class="divider">Rodzaj posiłku</div>
  <app-checkbox-group
    [options]="mealTypes"
    [selected]="filterType.length ? filterType : [activeMealType]"
    (selectedChange)="onFilterTypeChange($event)"
  ></app-checkbox-group>

  <div class="divider">Wartości odżywcze</div>
  <app-input-number
    [label]="'Maks. kcal'"
    [model]="filterMaxKcal"
    (modelChange)="onFilterMaxKcalChange($event)"
    name="filterMaxKcal"
    placeholder="np. 500"
  ></app-input-number>
  <app-input-number
    [label]="'Maks. białko (g)'"
    [model]="filterMaxProtein"
    (modelChange)="onFilterMaxProteinChange($event)"
    name="filterMaxProtein"
    placeholder="np. 30"
  ></app-input-number>
  <app-input-number
    [label]="'Maks. węglowodany (g)'"
    [model]="filterMaxCarbs"
    (modelChange)="onFilterMaxCarbsChange($event)"
    name="filterMaxCarbs"
    placeholder="np. 50"
  ></app-input-number>
  <app-input-number
    [label]="'Maks. tłuszcz (g)'"
    [model]="filterMaxFat"
    (modelChange)="onFilterMaxFatChange($event)"
    name="filterMaxFat"
    placeholder="np. 20"
  ></app-input-number>
  <app-input-number
    [label]="'Maks. sód (mg)'"
    [model]="filterMaxSodium"
    (modelChange)="onFilterMaxSodiumChange($event)"
    name="filterMaxSodium"
    placeholder="np. 500"
  ></app-input-number>
  <app-input-number
    [label]="'Maks. błonnik (g)'"
    [model]="filterMaxFiber"
    (modelChange)="onFilterMaxFiberChange($event)"
    name="filterMaxFiber"
    placeholder="np. 10"
  ></app-input-number>

  <div class="divider">Choroba dietozależna</div>
  <app-checkbox-group
    [options]="medicalConditions"
    [selected]="filterCondition"
    (selectedChange)="onFilterConditionChange($event)"
  ></app-checkbox-group>

  <div class="divider">Rodzaj diety</div>
  <app-checkbox-group
    [options]="dietTags"
    [selected]="filterDiets"
    (selectedChange)="onFilterDietsChange($event)"
  ></app-checkbox-group>
</form>
