<div
  [ngClass]="{
    card: cardStyle === 'normal',
    'card-wide': cardStyle === 'wide',
  }"
  (click)="withOpen ? open() : null"
>
  <div
    [ngClass]="{
      'card-photo': cardStyle === 'normal',
      'card-photo-wide': cardStyle === 'wide',
      'card-photo-wide-stars': starsVisible && cardStyle === 'wide',
    }"
  >
    <img
      class="card-img"
      [src]="recipe.imageUrl"
      (error)="handleImageError($event)"
      alt="Zdjęcie przepisu"
    />
    <div class="card-stars" *ngIf="starsVisible">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
        <i
          class="bi"
          [ngClass]="
            recipe.stars && i < recipe.stars ? 'bi-star-fill' : 'bi-star'
          "
        ></i>
      </ng-container>
    </div>
  </div>
  <div class="card-title" *ngIf="cardStyle === 'normal'">
    {{ recipe.name }}
  </div>
  <div class="card-time">
    {{ recipe.prepTimeMinutes }}
    <span>min</span>
  </div>
  <div
    [ngClass]="{
      'card-hover': cardStyle === 'normal' && withOpen,
      'card-hover-wide': cardStyle === 'wide' && withOpen,
    }"
  >
    <div class="card-title" *ngIf="cardStyle === 'wide'">
      {{ recipe.name }}
    </div>
    <span class="card-values">Wartości odżywcze:</span>
    <div class="flex-centered card-values-box-container">
      <div class="card-values-box">
        {{ recipe.calories }}
        <span>Kcal</span>
      </div>
      <div class="card-values-box">
        {{ recipe.protein }} g
        <span>Białka</span>
      </div>
      <div class="card-values-box">
        {{ recipe.fat }} g
        <span>Tłuszczu</span>
      </div>
      <div class="card-values-box" *ngIf="cardStyle === 'normal'">
        {{ recipe.carbs }} g
        <span>Węgl</span>
      </div>
    </div>
    <div
      class="flex-centered"
      style="margin-top: -20px"
      *ngIf="cardStyle === 'wide'"
    >
      <div class="card-values-box">
        {{ recipe.carbs }} g
        <span>Węg</span>
      </div>
      <div class="card-values-box">
        {{ recipe.carbs }} g
        <span>Sodu</span>
      </div>
      <div class="card-values-box">
        {{ recipe.carbs }} g
        <span>Błonnika</span>
      </div>
    </div>
    <div
      class="card-like"
      (click)="toggleLike()"
      *ngIf="withLike && (this.user$ | async)"
    >
      <mat-icon *ngIf="!like" style="cursor: pointer">favorite_border</mat-icon>
      <mat-icon *ngIf="like" class="red" style="cursor: pointer"
        >favorite</mat-icon
      >
    </div>
  </div>
</div>
