<nav class="header" (document:click)="closeUserMenu()">
  <div class="container">
    <div class="header-content">
      <a routerLink="/">
        <div class="logo"></div>
      </a>

      <button
        mat-icon-button
        class="hamburger"
        type="button"
        aria-label="Otwórz menu"
        (click)="toggleMobileNav(); $event.stopPropagation()"
      >
        <span class="material-icons">menu</span>
      </button>

      <nav class="main-nav desktop-nav">
        <ul class="nav-items">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Strona główna</a
            >
          </li>
          <li>
            <a routerLink="/recipes" routerLinkActive="active">Przepisy</a>
          </li>
          <li>
            <a routerLink="/conditions" routerLinkActive="active"
              >Choroby dietozależne</a
            >
          </li>
          <li>
            <a routerLink="/diet-plans" routerLinkActive="active">Jadłospisy</a>
          </li>
        </ul>
      </nav>

      <div class="auth-nav desktop-auth">
        <ng-container *ngIf="user$ | async as user; else loginButtons">
          <div class="user-menu">
            <span class="user-greeting">Witaj,</span>
            <div
              class="user-bubble"
              tabindex="0"
              (click)="toggleUserMenu($event)"
              (keydown.enter)="toggleUserMenu($event)"
            >
              {{ getFirstLetters(user.displayName) }}
            </div>
            <div
              class="user-dropdown"
              *ngIf="isUserMenuOpen"
              (click)="$event.stopPropagation()"
            >
              <div class="user-menu-item" (click)="goToLikedRecipes()">
                Polubione przepisy
              </div>
              <div class="user-menu-item" (click)="goToMyDietPlans()">
                Moje jadłospisy
              </div>
              <button class="btn btn-logout" (click)="logout()">Wyloguj</button>
            </div>
          </div>
        </ng-container>
        <ng-template #loginButtons>
          <button class="btn btn-login" routerLink="/login">Logowanie</button>
          <button class="btn btn-register" routerLink="/register">
            Rejestracja
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="mobile-dropdown" *ngIf="isMobileNavOpen">
    <ul class="nav-items">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMobileNav()"
          >Strona główna</a
        >
      </li>
      <li>
        <a
          routerLink="/recipes"
          routerLinkActive="active"
          (click)="closeMobileNav()"
          >Przepisy</a
        >
      </li>
      <li>
        <a
          routerLink="/conditions"
          routerLinkActive="active"
          (click)="closeMobileNav()"
          >Choroby dietozależne</a
        >
      </li>
      <li>
        <a
          routerLink="/diet-plans"
          routerLinkActive="active"
          (click)="closeMobileNav()"
          >Jadłospisy</a
        >
      </li>
    </ul>
    <div class="mobile-auth">
      <ng-container *ngIf="user$ | async as user; else mobileLoginButtons">
        <div
          class="user-menu-item"
          (click)="goToLikedRecipes(); closeMobileNav()"
        >
          Polubione przepisy
        </div>
        <div
          class="user-menu-item"
          (click)="goToMyDietPlans(); closeMobileNav()"
        >
          Moje jadłospisy
        </div>
        <button class="btn btn-logout" (click)="logout()">Wyloguj</button>
      </ng-container>
      <ng-template #mobileLoginButtons>
        <button
          class="btn btn-login"
          routerLink="/login"
          (click)="closeMobileNav()"
        >
          Logowanie
        </button>
        <button
          class="btn btn-register"
          routerLink="/register"
          (click)="closeMobileNav()"
        >
          Rejestracja
        </button>
      </ng-template>
    </div>
  </div>
</nav>
