<div class="recipes-container">
  <button
    class="filters-toggle-btn"
    (click)="showFilters = true"
    *ngIf="isMobile"
  >
    <mat-icon>filter_list</mat-icon> Filtry
  </button>
  <aside class="filters" [class.open]="showFilters" [class.mobile]="isMobile">
    <button class="close-btn" (click)="showFilters = false" *ngIf="isMobile">
      <mat-icon>close</mat-icon>
    </button>
    <h4>Filtry</h4>
    <form class="filters-form">
      <app-input-text
        [label]="'Nazwa potrawy'"
        [(model)]="filterName"
        name="filterName"
        placeholder="Szukaj po nazwie"
      ></app-input-text>
      @if (savedRecipes.length > 0) {
        <mat-slide-toggle
          class="single-toggle"
          [(ngModel)]="filterLiked"
          name="filterLiked"
        >
          Tylko polubione
        </mat-slide-toggle>
      }
      <ng-container
        *ngTemplateOutlet="divider; context: { text: 'Rodzaj posiłku' }"
      ></ng-container>
      <app-checkbox-group
        [options]="mealTypes"
        [selected]="filterType"
        (selectedChange)="filterType = $event"
      ></app-checkbox-group>
      <ng-container
        *ngTemplateOutlet="divider; context: { text: 'Wartości odżywcze' }"
      ></ng-container>
      <app-input-number
        [label]="'Maks. kcal'"
        [model]="filterMaxKcal"
        (modelChange)="filterMaxKcal = $event"
        name="filterMaxKcal"
        placeholder="np. 500"
      ></app-input-number>
      <app-input-number
        [label]="'Maks. białko (g)'"
        [model]="filterMaxProtein"
        (modelChange)="filterMaxProtein = $event"
        name="filterMaxProtein"
        placeholder="np. 30"
      ></app-input-number>
      <app-input-number
        [label]="'Maks. węglowodany (g)'"
        [model]="filterMaxCarbs"
        (modelChange)="filterMaxCarbs = $event"
        name="filterMaxCarbs"
        placeholder="np. 50"
      ></app-input-number>
      <app-input-number
        [label]="'Maks. tłuszcz (g)'"
        [model]="filterMaxFat"
        (modelChange)="filterMaxFat = $event"
        name="filterMaxFat"
        placeholder="np. 20"
      ></app-input-number>
      <app-input-number
        [label]="'Maks. sód (mg)'"
        [model]="filterMaxSodium"
        (modelChange)="filterMaxSodium = $event"
        name="filterMaxSodium"
        placeholder="np. 500"
      ></app-input-number>
      <app-input-number
        [label]="'Maks. błonnik (g)'"
        [model]="filterMaxFiber"
        (modelChange)="filterMaxFiber = $event"
        name="filterMaxFiber"
        placeholder="np. 10"
      ></app-input-number>
      <ng-container
        *ngTemplateOutlet="divider; context: { text: 'Choroba dietozależna' }"
      ></ng-container>
      <app-checkbox-group
        [options]="conditions"
        [selected]="filterCondition"
        (selectedChange)="filterCondition = $event"
      ></app-checkbox-group>
      <ng-container
        *ngTemplateOutlet="divider; context: { text: 'Rodzaj diety' }"
      ></ng-container>
      <app-checkbox-group
        [options]="diets"
        [selected]="filterDiet"
        (selectedChange)="filterDiet = $event"
      ></app-checkbox-group>
    </form>
  </aside>
  <section class="recipes-list" [class.wide-list]="isMobile">
    @if (filteredRecipes.length === 0) {
      <div class="no-results">
        <mat-icon
          class="no-results-icon"
          color=""
          fontIcon="search_off"
        ></mat-icon>
        <div class="no-results-title">Brak wyników</div>
        <div class="no-results-text">
          Przepraszamy, nie znaleźliśmy żadnych wyników dla wybranych filtrów
        </div>
      </div>
    } @else {
      @for (recipe of filteredRecipes; track recipe.uid) {
        <app-recipe-card
          [recipe]="recipe"
          [cardStyle]="isMobile ? 'wide' : 'normal'"
        ></app-recipe-card>
      }
    }
  </section>
</div>

<ng-template #divider let-text="text">
  <div class="custom-divider">
    <div class="line line-left"></div>
    <span class="divider-text">{{ text }}</span>
    <div class="line"></div>
  </div>
</ng-template>
