$primary-color: #20b27f;

// text colors
$text-color: #333;
$text-secondary-color: #666;

// hover colors
$primary-hover: #57cf99;

// disabled colors
$primary-disabled: #b1e1cf;

//background colors
$background-color: #fff;
$background-secondary: #f9f9f9;

$warn-color: #e53935;
